.content{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
  
  }
  .headerFiller{
      height:100pt;
  }
  .box{
      width:100%;
      margin: 0;
      height:50vh;
      background-color:gray;
  
  }
  #introImage{
      height: 300px;
      border-radius:20px;
      margin-top:60pt;
      margin-left:159pt;
      margin-right:159pt ;
  }
  #introImageDiv{
    display: block;
    height: 360px;
    margin-top:60pt;
    margin:0;
    border-radius: 20px;
  }
  #introduction{
    display:block;
    height:00px;
  }
  
  .regularFont{
    color:#373a3c;
    font-weight:400;
    font-size:15px;
    text-shadow: 1px 1px 2px #969696;
}
.introText{
    color:white;
    line-height:1.5;
    font-weight: 400;
}
  .titleFont{
      color:#373a3c;
      font-weight:400;
      font-size:24px;
      text-shadow: 1px 1px 2px #969696;
  }
  .subTitleFont{
    color:#373a3c;
    font-weight:400;
    font-size:18px;
    text-shadow: 1px 1px 2px #969696;
}
.howToIcons{
    height:50px;
}
.howToIconsDiv{
    width:100%;
    height:50px;
}
#howItWorksLink{
    margin-bottom:25px;
}

