.content{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
  
  }
  .headerFiller{
      height:100pt;
  }
  .box{
      width:100%;
      margin: 0;
      height:50vh;
      background-color:gray;
  }
  #introImage{
      /* height: 300px; */
      width:62vw;
      border-radius:20px;
      margin-top:60pt;
      margin-left:19vw;
      margin-right:19vw ;
      margin-bottom:60pt;
  }
  #introImageDiv{
    display: block;
    /* height: 360px; */
    height: auto;
    /* margin-top:60pt; */
    /* margin:0; */
  }
  
  
  .regularFont{
    color:#373a3c;
    font-weight:400;
    font-size:15px;
    text-shadow: 1px 1px 2px #969696;
}
.introText{
    color:white;
    line-height:1.5;
    font-weight: 400;
}
  .titleFont{
      color:#373a3c;
      font-weight:400;
      font-size:24px;
      text-shadow: 1px 1px 2px #969696;
  }
  .subTitleFont{
    color:#373a3c;
    font-weight:400;
    font-size:18px;
    text-shadow: 1px 1px 2px #969696;
}


