@font-face{
  font-family:'Noto_sans';
  src:local("Noto_Sans"),url("./assets/fonts/Noto_Sans_KR/NotoSansKR-Medium.otf") format("opentype");
}
body {
  margin: 0;
  font-family: 'Noto_sans',Arial,serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
